---
// Site Footer Component
---

<footer class="site-footer l-page">
    <p>Knowledge Blog is dedicated to clear explanations of machine learning</p>
    <div class="footer-links">
        <a href="#">About</a>
        <a href="#">Archive</a>
        <a href="#">GitHub</a>
    </div>
</footer>
