---
interface Props {
    logoText?: string;
}
const { logoText = 'Michael Wan Interactive Insights' } = Astro.props;
---

<header class="site-header">
    <div class="header-content l-page">
        <a href="/" class="logo">
            <img src="/img/mw-black.png" alt="MW" class="logo-icon" />
            {logoText}
        </a>
    </div>
</header>
