---
// Site Header Component
---

<header class="site-header">
    <div class="header-content l-page">
        <a href="/" class="logo">
            <img src="/img/mw-black.png" alt="MW" class="logo-icon" />
            Michael Wan Interactive Insights
        </a>
        <nav class="header-nav">
            <a href="#">About</a>
            <a href="#">Archive</a>
        </nav>
    </div>
</header>
